.DraftEditor-root {
    border: 1px solid #f1f1f1;
    padding: 20px;
    border-radius: 2px;
}

.rdw-image-modal {
    left: -214px;
}

.rdw-emoji-modal {
    left: -169px;
}

.rdw-embedded-modal {
    left: -124px;
}